  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <h1>Ocean Shipping Service</h1>
          <a href="#" title="Home">Home</a> / Ocean Shipping Service
        </div>
        <div class="col-12 col-lg-5 text-right">
          <h4>We freight to all over the world The best logistic company, <span>FAST</span> and <span>SAFELY!</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->
  <!-- Single service start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase mt0">Ocean Shipping Service</h2>
        </div>
      </div>
      <div class="row">
        <!-- Single service Gallery start -->
        <div class="col-12 col-lg-6 single-service-gallery gallery-group-popup">
          <div class="row">
            <div class="col-12 l-gallery-holder">
              <a class="latest-gallery" href="./ocean_shipping_files/blog-image-5.jpg" title="ThemeForest Project">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                <img src="./ocean_shipping_files/blog-image-5.jpg" alt="">
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
              <a class="latest-gallery" href="./ocean_shipping_files/air-single-gallery2.jpg" title="ThemeForest Project">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                <img src="./ocean_shipping_files/air-single-gallery2.jpg" alt="">
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-6 portfolio-holder">
              <a class="latest-gallery" href="./ocean_shipping_files/air-single-gallery3.jpg" title="ThemeForest Project">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                <img src="./ocean_shipping_files/air-single-gallery3.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- Single service gallery end -->
        <!-- Advantages start -->
        <div class="col-12 col-lg-5 offset-lg-1">
          <h3 class="heading3-border text-uppercase">Our Advantages</h3>
          <div class="advantages">
            <ul>
              <li class="trust">
                <h5>We Are Trusted</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </li>
              <li class="sequrity">
                <h5>The Best Sequrity</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </li>
              <li class="guarantee">
                <h5>100% guarantee</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </li>
              <li class="location">
                <h5>Quick Location</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- Advantages end -->
      </div>
      <div class="space40"></div>
      <div class="row">
        <!-- single service content start -->
        <div class="col-12 col-lg-7">
          <div class="download-pdf">
            <a href="#/work/themeforest/w-shipping/ocean-single-service" title="" class="wshipping-button download-btn">
              <i class="fa fa-file-pdf-o"></i> Download Boucher </a>
            <a href="#/work/themeforest/w-shipping/ocean-single-service" title="" class="wshipping-button download-btn">
              <i class="fa fa-file-pdf-o"></i> Download Pricelist </a>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
        </div>
        <!-- single service content end -->
        <!-- Get quote start -->
        <div class="col-12 col-lg-5">
          <div class="right-quote-from">
            <h3>Get a quote on Renovation</h3>
            <form action="#/work/themeforest/w-shipping/single-services.html">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Full Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="wshipping-button">Get A Free Quote</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Get quote end -->
      </div>
    </div>
  </div>
  <!-- Single service end -->
  <!-- News &amp; Testimonials Start -->
  <div class="wshipping-content-block news-testimonial-block pt0">
    <div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
      <div class="row">
        <!-- Latest News Start -->
        <div class="col-12 col-lg-5">
          <h3 class="heading3-border text-uppercase">Latest News</h3>
          <div class="latest-news-section mt0 wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <div class="news-date"> 28 <span>Feb</span>
            </div>
            <h4>News Title</h4>
            <div class="news-post-by">By <span>Admin</span>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="latest-news-section wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <div class="news-date"> 23 <span>Mar</span>
            </div>
            <h4>News Title</h4>
            <div class="news-post-by">By <span>Admin</span>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <!-- Latest News End -->
        <!-- Testimonial start -->
        <div class="col-12 col-lg-7 home-testimonial">
          <h3 class="heading3-border text-uppercase">Testimonial</h3>
          <div class="owl-carousel testimonial owl-loaded">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(-1270px, 0px, 0px); transition: all 0.25s ease 0s; width: 3810px;">
                <div class="owl-item cloned" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item active" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 635px;">
                  <div class="testimonial-item">
                    <div class="row">
                      <div class="col-12 col-lg-5">
                        <div class="testimonial-img-bg"></div>
                      </div>
                      <div class="col-12 col-lg-7">
                        <div class="testimonial-content">
                          <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav disabled">
              <button type="button" role="presentation" class="owl-prev">
                <span aria-label="Previous">‹</span>
              </button>
              <button type="button" role="presentation" class="owl-next">
                <span aria-label="Next">›</span>
              </button>
            </div>
            <div class="owl-dots">
              <button role="button" class="owl-dot active">
                <span></span>
              </button>
              <button role="button" class="owl-dot">
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Testimonial end -->
      </div>
    </div>
  </div>
  <!-- News & Testimonials End -->
  <!-- Our client start -->
  <div class="wshipping-content-block client-block pt0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="heading3-border text-uppercase">Our Valuable Client</h3>
        </div>
        <div class="owl-carousel our-client owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-1520px, 0px, 0px); transition: all 0.25s ease 0s; width: 3800px;">
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-3.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-4.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-5.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-6.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-1.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-2.jpg" alt="">
                </div>
              </div>
              <div class="owl-item" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-1.jpg" alt="">
                </div>
              </div>
              <div class="owl-item" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-2.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-3.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-4.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-5.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-6.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-1.jpg" alt="">
                </div>
              </div>
              <div class="owl-item active" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-2.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-1.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-2.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-3.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-4.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-5.jpg" alt="">
                </div>
              </div>
              <div class="owl-item cloned" style="width: 190px;">
                <div class="client-item">
                  <img src="./ocean_shipping_files/client-6.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled">
            <button type="button" role="presentation" class="owl-prev">
              <i class="fa fa-angle-left"></i>
            </button>
            <button type="button" role="presentation" class="owl-next">
              <i class="fa fa-angle-right"></i>
            </button>
          </div>
          <div class="owl-dots disabled"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our client end -->