  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Our Services</h1>
            <a href="#" title="Home">Home</a> / Our Services
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>We freight to all over the world
The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->
  
  <!-- Our Services Start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <h2>Our Services</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="#/work/themeforest/w-shipping/services" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
  <!-- Our Services end -->
    
  <!-- Our client start -->  
  <div class="wshipping-content-block client-block pt0">
   <div class="container">
      <div class="row">
        <div class="col-12"><h3 class="heading3-border text-uppercase">Our Valuable Client</h3></div>
        <div class="our-client owl-loaded">
          
          
          
          
          
          
          
          
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1520px, 0px, 0px); transition: all 0.25s ease 0s; width: 3800px;"><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-3.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-4.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-5.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-6.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-1.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-2.jpg" alt=""></div></div><div class="owl-item" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-1.jpg" alt=""></div></div><div class="owl-item" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-2.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-3.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-4.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-5.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-6.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-1.jpg" alt=""></div></div><div class="owl-item active" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-2.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-1.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-2.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-3.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-4.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-5.jpg" alt=""></div></div><div class="owl-item cloned" style="width: 190px;"><div class="client-item"><img src="./our_services_files/client-6.jpg" alt=""></div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
      </div>  
    </div>
  </div>
  <!-- Our client end -->
  