<!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Your shipment progress</h1>
            <a href="https://web24service.com/work/themeforest/w-shipping/index.php" title="Home">Home</a> / Your shipment progress
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>We freight to all over the world
The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->

  <!-- shipment progress start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-9">
            <div class="track-result">
               <h3>Shipment Track Result</h3>
               <div class="track-result-block">
                 <div class="track-result-id"><b>Order Tracking:</b> Order No</div>
                 <div class="track-status">
                   <div class="row">
                     <div class="col-12 col-lg-4"><b>Shipping Via:</b> Ipsum Dolor</div>
                     <div class="col-12 col-lg-4"><b>Status:</b> Processing Order</div>
                     <div class="col-12 col-lg-4"><b>Expected Date:</b> 12-DEC-2017</div>
                   </div>
                 </div>
                 <div class="track-result-bar">
                  <ul class="track-progress">
                    <li class="icon-confirm-roder track-active">Confirmed Order</li>
                    <li class="icon-process-roder track-active">Processing Order</li>
                    <li class="icon-quality-check">Quality Check</li>
                    <li class="icon-dispatched-item">Dispatched Item</li>
                    <li class="icon-product-deliver">Product Delivered</li>
                  </ul>
                 </div>
              </div>
            </div>
         </div>
         <!-- Right sidebar start -->
         <div class="col-12 col-lg-3">
            <div class="right-block left-menu menu-with-title mt60 mb15">
               <h4 class="title-with-bg">Select Your Freight</h4>
               <ul>
                  <li class="active"><a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="Air Freight Tracking">Air Freight Tracking</a></li>
                  <li><a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="Ocean Freight Tracking">Ocean Freight Tracking</a></li>
                  <li><a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="Road &amp; Rail Freight Tracking">Road &amp; Rail Freight Tracking</a></li>
               </ul>
            </div>
               <a href="https://web24service.com/work/themeforest/w-shipping/track-result#" class="order-list-button">Your Order List</a>
         </div>
         <!-- Right sidebar end -->
      </div>
    </div>
  </div>
  <!-- Blog content end -->

  <!-- Send free quote start -->
  <div class="wshipping-content-block get-quote">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8"><h4>We Are Always In Here, <span>Need any Help?</span></h4></div>
        <div class="col-12 col-lg-4 text-right"><a href="https://web24service.com/work/themeforest/w-shipping/contact.php" title="" class="wshipping-button">Contact With Us</a></div>
      </div>
    </div>
  </div>
  <!-- Send free quote end -->

  <!-- Our Services Start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <h2>Our Services</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/track-result" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
       </div>
    </div>
  </div>
  <!-- shipment progress end -->