  <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Tracking</h1>
            <a href="https://web24service.com/work/themeforest/w-shipping/index.php" title="Home">Home</a> / Tracking
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>We freight to all over the world
The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->

  <!-- Tracking start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <h2>Track a shipment</h2>
               <p>Track your LTL, truckload, or intermodal shipment by entering your <b>Track number</b> below to get instant freight tracking information.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-9">
            <div class="tracking-block">
               <ul class="nav nav-tabs" role="tablist">
                 <li class="nav-item"><a class="nav-link active" href="https://web24service.com/work/themeforest/w-shipping/tracking#track-by-number" aria-controls="track-by-number" role="tab" data-toggle="tab">Track by Number</a></li>
                 <li class="nav-item"><a class="nav-link" href="https://web24service.com/work/themeforest/w-shipping/tracking#track-by-reference" aria-controls="track-by-reference" role="tab" data-toggle="tab">Track by Reference</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="track-by-number">
                 <h3>Air Freight Tracking</h3>
                 <div class="put-track-number">
                 <form action="https://web24service.com/work/themeforest/w-shipping/track.html">
                   <input type="text" class="form-control track-id" name="trackid" placeholder="Track ID">
                   <button type="submit" class="btn btn-track">Track</button>
                 </form>
                </div>
                <div class="track-bottom-link"><a href="https://web24service.com/work/themeforest/w-shipping/tracking">Need Help?</a> <span>|</span> <a href="https://web24service.com/work/themeforest/w-shipping/tracking">Your Order list</a></div>
               </div>
               <div role="tabpanel" class="tab-pane" id="track-by-reference">
                <div class="put-reference-number">
                 <form action="https://web24service.com/work/themeforest/w-shipping/customer-register.html">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                       <label>Shipment Reference (BOL or PO):</label>
                       <input type="text" class="form-control" name="RefNumber" required="">
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                       <label>Shipment Date Start:</label>
                       <div class="input-group date" data-provide="datepicker">
                         <input type="text" class="form-control" name="startDate" required="">
                         <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                       </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                       <label>Shipment Date End:</label>
                       <div class="input-group date" data-provide="datepicker">
                         <input type="text" class="form-control" name="EndDate" required="">
                         <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6">
                       <label>Origin Country:</label>
                       <select class="form-control" name="OriginCountry">
                        <option>United State</option>
                        <option>Canada</option>
                        <option>Maxico</option>
                        <option>Caina</option>
                      </select>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                       <label>Origin ZIP/Postal Code:</label>
                       <input type="text" class="form-control" name="OriginZip" required="">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6">
                       <label>Destination Country: </label>
                       <select class="form-control" name="dcountry">
                        <option>United State</option>
                        <option>Canada</option>
                        <option>Maxico</option>
                        <option>Caina</option>
                      </select>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                       <label>Destination ZIP/Postal Code:</label>
                       <input type="text" class="form-control" name="DZip" required="">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-submit">Track</button>
                </form>
                </div>
               </div>
             </div>
            </div>
         </div>
         <!-- Right sidebar start -->
         <div class="col-12 col-lg-3">
            <div class="right-block left-menu menu-with-title mt40">
               <h4 class="title-with-bg">Select Your Freight</h4>
               <ul>
                  <li class="active"><a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="Air Freight Tracking">Air Freight Tracking</a></li>
                  <li><a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="Ocean Freight Tracking">Ocean Freight Tracking</a></li>
                  <li><a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="Road &amp; Rail Freight Tracking">Road &amp; Rail Freight Tracking</a></li>
               </ul>
            </div>
         </div>
         <!-- Right sidebar end -->
      </div>
    </div>
  </div>
  <!-- Blog content end -->

  <!-- Send free quote start -->
  <div class="wshipping-content-block get-quote">
    <div class="container">
      <div class="row">
        <div class="col-md-8"><h4>We Are Always In Here, <span>Need any Help?</span></h4></div>
        <div class="col-md-4 text-right"><a href="https://web24service.com/work/themeforest/w-shipping/contact.html" title="" class="wshipping-button">Contact With Us</a></div>
      </div>
    </div>
  </div>
  <!-- Send free quote end -->

  <!-- Our Services Start -->
  <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <h2>Our Services</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h3>Ocean Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h3>Air Freight Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp" style="visibility: hidden; animation-name: none;">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h3>Car Shipping</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="https://web24service.com/work/themeforest/w-shipping/tracking" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
       </div>
    </div>
  </div>
  <!-- Tracking end -->
  <!-- Chat Start -->
  <div class="live-chat">
   <div class="chat">
    <div class="chat_header">
      <div class="chat_option">
        <div class="header_img"> <img src="./shippment_tracking_files/razu.png" alt="Web24service"> </div>
        <span id="chat_head">Razu Ahmed</span> <br>
        <span class="agent">Agent</span> <span class="online">(Online)</span> <span id="chat_fullscreen_loader" class="chat_fullscreen_loader" style="display: none;"><i class="fullscreen far fa-window-maximize"></i></span> </div>
    </div>
    <div class="chat_body chat_login" style="display: block;"> <a id="chat_first_screen" class="chat-start"><i class="fas fa-arrow-right"></i></a>
      <p>We make it simple and seamless for businesses and people to talk to each other. Ask us anything</p>
    </div>
    <div id="chat_converse" class="chat_conversion chat_converse" style="display: none;"> <span class="chat_msg_item chat_msg_item_admin">
      <span class="chat_avatar"> <img src="./shippment_tracking_files/razu.png" alt="Web24service"> </span>
      Hey there! Any question?</span> <span class="chat_msg_item chat_msg_item_user"> Hello!</span> <span class="status">Just now. Not seen yet</span> </div>
    <div class="fab_field"> <a id="fab_camera" class="chat-icon"><i class="zmdi fas fa-camera"></i></a> <a id="fab_send" class="chat-icon"><i class="zmdi fas fa-paper-plane"></i></a>
      <textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
    </div>
   </div>
   <a id="prime" class="chat-icon"><i class="prime far fa-comments"></i></a>
  </div>
  <!-- Chat End -->
