 <!-- Breadcroumbs start -->
  <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-7">
            <h1>Shipping & Logistic</h1>
            <a href="#" title="contact">Home</a> / Shipping
         </div>
         <div class="col-12 col-lg-5 text-right"><h4>We freight to all over the world
The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4></div>
      </div>
    </div>
  </div>
  <!-- Breadcroumbs end -->

  <div class="wshipping-content-block">
    <div class="container">
      <div class="row flex-lg-row-reverse">

      </div>
    </div>
  </div>